.imgGame{
    background-image: url("../_assets/game/image/BackgroundGame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}