.imgMypage{
    background-image: url("../_assets/mypage/mypage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1200px;
}
.imgModi{
    background-image: url("../_assets/mypage/mypage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}