.imgMypage{
    background-image: url("../_assets/mypage/mypage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100vw; */
    /* height: 100vh; */
}