.imgRank{
  background-image: url("../_assets/rank/rank.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* width: 100vw; */
}