.imgRoom{
  background-image: url("../_assets/room/BackgroundRoom.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 730px;
}